@font-face {
    font-family: "Roboto";
    src: url("../../vendor/font/Roboto-Regular.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --colorPrimary: #1e1e1e;
    --colorSecondary: #007aff;
    --colorHighlight: #ff9500;
    --colorBackground: #262427;
    --colorLabel: #66FCF1;
    --colorText: #ffffff;
    --colorForm: #fff;
    --colorForm:#7A00F6;
}

main {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#7b00f64c;
}


form {
    width: 70%;
    height: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;    

    color: var(--colorText);
    background-color:var(--colorForm);
    color: var(--colorPrimary);
    border-radius: 15px;
}


section.area-title {
    width: 45%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8em;
    color: white;
    border-radius: 15px 0 0 15px;
}

section.area-title h1{
    font-size: 3.5rem;
}

section.area-title p{
    font-weight: 550;
}

section.area-title img{
    width:300px;
    height: 200px;
    object-fit: fill;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.115);
    border-radius:3px 30px 3px 30px;

    position: absolute;
    bottom:10%;
}

fieldset.area-form {
    width:50%;
    height: 98%;
    margin-left:4%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px; 

    background-color:#fff;
    border-radius:15px;
}

article.form-control{
    width:100%;
    height:90%;
    padding:10px 0;

    display:flex; 
    flex-direction: column;
    align-items:center;

    border-radius:15px;
}

.wrapper-input {
    width: 95%;
    height: 10%;

    margin:0 auto;
}

input { 
    width: inherit;
    height: auto;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.30rem;
}

input#myfile {
    display:flex;
    justify-content: center;
    
    color: #cfcfcf; 
    letter-spacing: 0.06em;
    line-height: 1.35;  
    font-weight: 300;
}

input#myfile::before {
    display: flex;
    position: absolute;
    
    content:"Escolher arquivos";
    color:#595f65;
    background-color: #f5f5f5;
    border:1px solid #afaeae;
}

input::placeholder {
    color: #868686d2;
}

textarea {
    width: 97%;
    min-height: 50px;
    max-height: 250px;
    padding: 10px 8px;

    font-size: 1rem;
    line-height: 1.5;
    color: #495057;

    resize: vertical;
    border-radius: 0.25rem;
    background-color:#f5f5f5;
}

button[type="submit"] {
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 5px;

    background-color:var(--colorForm);
    color: #FFF;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;

    transition: all 0.4s;
}

button[type="submit"]:hover {
    transform:scale(1.03);
}

button[type="submit"]:disabled {
    background: rgb(219, 195, 166, 0.2);
    cursor: default;
    transform:none;
}

p#error {
    height: 19px;
    color: #000;
    padding:5px;
}


@media (max-width: 600px) {
   
    main{
        width: 90%;
        height: 90%;
    }

    section{
        padding: 10px 0 0 10px;
    }

    form{
        width: 76%;
    }
}

@media (max-width:425px){
    label{
        display: none;
    }

    input{
        width: 100%;
    }

    #error{
        width: 100%;
        font-size: .9em;
    }

}
